@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <button class="btn btn-default">@Html.ActionLink("Administrador", "Administrador", "Adm")</button>
    <button class="btn btn-default">@Html.ActionLink("Entidade", "Entidade", "Entidade")</button>
    <button class="btn btn-default">@Html.ActionLink("Voluntário", "Voluntario", "Voluntario")</button>
</div>

