
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ftec project</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/style/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/style/main.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>



    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                        <h1 style="color:#fff;">@Html.ActionLink("Home", "Index", "Home")</h1>
                </div>
            </div>
        </div>

        @RenderBody()

        <!--
            Footer    
        -->
        <div class="footer">
            <div class="row">
                <div class="col-lg-12">
                    &copy;  TRABALHO DE PROJETOS WEB: <a href="http://ftec.com.br" style="color:#fff;" target="_blank">http://ftec.com.br</a>
                </div>
            </div>
        </div>
        <!--
         /Footer
        -->

<!-- JQUERY SCRIPTS -->
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
        <script src="~/Scripts/bootstrap.min.js"></script>
<!-- CUSTOM SCRIPTS -->
        <script src="~/js/custom.js"></script>
        
</body>
</html>

